/vendor
/node_modules
.env
composer.phar
composer.lock
package.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.vagrant
/public/css/*.map
.idea/
Vagrantfile
Homestead.yaml.dist
npm-debug.log
yarn-error.log
